body {
    background: #282830;
}

#display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100px;
    max-height: 100%;
    border: 2px solid gray;
    border-radius: 10px;
}
